<a href="/add-chef">Add a Chef</a>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Number Of Dishes</th>
    </tr>
@{
    foreach(var x in ViewBag.Chefs) {
        int age = DateTime.Now.Year - x.Birthday.Year;
        if(x.CreatedDishes != null) {
    <tr>
        <td>@x.FirstName</td>
        <td>@age</td>
        <td>@x.CreatedDishes.Count</td>
    </tr>
        } else {
            <tr>
                <td>@x.FirstName</td>
                <td>@age</td>
                <td>0</td>
            </tr>
        }
    }
}
</table>