<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results:</title>
</head>
<body>
    <h1>Name: @ViewBag.name</h1>
    <h1>Location: @ViewBag.location</h1>
    <h1>Language: @ViewBag.language</h1>
    <h1>Comment: @ViewBag.comment</h1>

    <p>Thanks for the input, @ViewBag.name</p>
</body>
</html>