<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Mongoose</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <style type='text/css'>
    * {
        text-align: center;
    }
    .card {
        margin-top: 200px;
        height: 200px !important;
        width: 40%;
        margin-left: 400px;
    }
    </style>
</head>
<body class='bg-light'>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><%= mongoose_profile.name %></h4>
            <p class="card-text">
                <%= mongoose_profile.name%> is <%=mongoose_profile.age%> years old and has been alive since <%=mongoose_profile.created_at%>. <%=mongoose_profile.name%> is thriving and enjoying life!
            </p>
            <a href="/" class="card-link">Home</a>
        </div>
    </div>
</body>

</html>