<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <style type='text/css'>
    a {
        display: inline-block !important;
    }
    .blackbold {
        font-weight: bold;
        color: black;
    }
    </style>
</head>

<body>
    <table class='table bg-light'>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        <% for (var i=0;i<mongeese.length;i++) { %>
        <tr>
            <td><%=mongeese[i]._id%></td>
            <td><%=mongeese[i].name%></td>
            <td><%=mongeese[i].age%></td>
            <td><a href='mongooses/edit/<%=mongeese[i]._id%>'>Edit</a><span class='blackbold'> | </span><a href='mongooses/<%=mongeese[i].id%>'>View</a><span class='blackbold'> | </span><a href='/mongooses/destroy/<%=mongeese[i]._id%>'>Delete</a></td>
        </tr>
        <% } %>
    </table>
    <a href='/mongooses/new'><button class='btn btn-primary'>New Mongoose</button></a>
</body>

</html>