<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Edit Dish!</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Add a new dish!</h1>
    @model CRUDelicious.Models.Dish
    <form action="/edit-dish/@ViewBag.Profile.DishId"method="POST">
        <span asp-validation-for="Chef"></span>
        <span asp-validation-for="Name"></span>
        <span asp-validation-for="Tastiness"></span>
        <span asp-validation-for="Calories"></span>
        <span asp-validation-for="Description"></span>
        <div class="form-group">
            <label>Chef's Name</label> 
            <input asp-for="Chef" class="form-control" value="@ViewBag.Profile.Chef">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control"value="@ViewBag.Profile.Name">
        </div>
        <div class="form-group">
            <label>Calories</label>
            <input asp-for="Calories" class="form-control" type ="number"value="@ViewBag.Profile.Calories">
        </div>
        <div class="form-group">
            <label>Tastiness</label>
            <select asp-for="Tastiness" class="custom-select"value="@ViewBag.Profile.Tastiness">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input asp-for="Description"class="form-control"value="@ViewBag.Profile.Description">
        </div>
        <input type="submit" class="btn btn-primary">
    </form>
</body>
</html>